@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .main-padding {
    padding-left: calc(30vw - 200px);
    padding-right: calc(30vw - 200px);
  }
}

@media screen and (max-width: 480px) {
    .main-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}