@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .main-padding {
    padding-left: calc(30vw - 200px);
    padding-right: calc(30vw - 200px);
  }
}

@media screen and (max-width: 480px) {
    .main-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}